include ../header
include dashboardHeader
title SearchNTalk - DashBoard
.matter
    .container
        .row
            if members && members.length != 0
                .content.col-md-3
                    .row
                        nav.navbar.navbar-default.section-navbar(role='navigation')
                            .navbar-header
                                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#networks-collapse')
                                    span.sr-only Toggle network navigation
                                    i.icon-plus
                                    i.icon-minus
                                .visible-xs.navbar-brand.network-brand= selectedMember.integration.title
                            #networks-collapse.collapse.navbar-collapse
                                ul.nav.nav-pills.nav-stacked
                                    each member in members
                                        li(class=member.integration_id == selectedMember.integration_id ? 'active' : '')
                                            a(href=DashboardUrls.integration() + '?integrationId=' + member.integration_id)
                                                span.badge= formatRole(member.role)
                                                | #{member.integration.title}
                // /.content
                if selectedMember.role != 3
                    .content.col-md-5
                        .row
                            #integrationMemberCard
                                include cards/IntegrationMemberCard
                    .content.col-md-4
                        .row
                            #couponCard
                                include cards/CouponCard
                            #networkSetting
                                include cards/networkSettingCard
            else
                .content.col-md-12
                    .alert.alert-warning
                        strong You're not a part of any network yet.
                        p Create one?
                        form.card#integration
                            .item-edit.account-edit
                                .item
                                    .header-row.row
                                        .inputs.col-xs-8
                                            .input-group
                                                input.form-control(type='text', placeholder="Your Network's Name", name="title")
                                    div
                                        .form-group
                                            h3 Website URL:
                                            input.form-control(type='text', name='website_url', placeholder)
                                        .form-group
                                            h3 Redirect URL:
                                            input.form-control(type='text', name='redirect_url', placeholder)
                                .clearer
                            div.links-editing
                                p.edit-schedules
                                    em Note: Create a network only if you've a group of experts. Else joining SearchNTalk network will be simpler and more useful.
                                    input.btn.btn-default(value='Create', type='submit')
                        strong OR
                        .actions-pane
                            .row
                                .col-xs-6.align-left
                                    a.btn.btn-warning(href=MemberRegistrationUrls.index() + '?integrationId=' + Config.get(Config.DEFAULT_NETWORK_ID)) Join SearchNTalk's expert network
include ../footer
script.
    var Timezone = JSON.parse('!{JSON.stringify(Timezone)}');
    var integrationId = '!{selectedMember && selectedMember.integration ? selectedMember.integration.id : null}';
    var coupons = JSON.parse('!{JSON.stringify(coupons)}');
    var integration = JSON.parse('!{JSON.stringify(integration)}');
script(src='/js/app/dashboard/integration.js')
script(src='/js/app/dashboard/fileUpload.js')
script(src='/js/app/jquery.card.js')