#AddUserEmploymentModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Add Position Details
            form#addForm
                .modal-body
                    .form-group
                        label.control-label(for='title') Title
                        input.form-control#title(type='text', name='title', data-toggle="tooltip", data-placement="bottom")
                    .form-group
                        label.control-label(for='company') Company
                        input.form-control#company(type='text', name='company', data-toggle="tooltip", data-placement="bottom")
                    .form-group
                        label.control-label(for='dates_attended') Time Period
                        .row
                            .col-md-4
                                input.form-control.col-md-1#start_date(class="datepicker", placeholder='Starting date')
                            .col-md-1
                                | to
                            .col-md-4
                                input.form-control.col-md-1#end_date(class="datepicker", placeholder='End date')
                    .form-group
                        label.control-label(for='summary') Summary
                        textarea.form-control#summary(type='text', name='summary', data-toggle="tooltip", data-placement="bottom")
                    .form-group
                        label.control-label(for='is_current') Is Current? &nbsp&nbsp
                        select#is_current(name='is_current', data-width='auto')
                            option(value="1" selected = (currentYear == '#{i}')) Yes
                            option(value="0" selected = (currentYear == '#{i}')) No
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') Close
                    input.btn.btn-primary(type='submit', value='Update')
#EditUserEmploymentModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Edit Position Details
            form
                .modal-body
                    label.control-label(for='title') Title
                    input.form-control#title(type='text', name='title', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='company') Company
                    input.form-control#company(type='text', name='company', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='dates_attended') Time Period
                    br
                    .row
                        .form-group.col-md-2
                            input.form-control#start_date(class="datepicker")
                        .form-group.col-md-1
                            normal -
                        .form-group.col-md-2
                            input.form-control#end_date(class="datepicker")
                    br
                    label.control-label(for='summary') Summary
                    textarea.form-control#summary(type='text', name='summary', data-toggle="tooltip", data-placement="bottom", rows="6")
                    br
                    label.control-label(for='is_current') Is Current? &nbsp&nbsp
                    select#is_current(name='is_current', data-width='auto')
                        option(value="1" selected = (currentYear == '#{i}')) Yes
                        option(value="0" selected = (currentYear == '#{i}')) No
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') Close
                    input.btn.btn-primary(type='submit', value='Save')
#DeleteUserEmploymentModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Delete Position Details
            .modal-body
                label Are you sure you want to delete this information?
            .modal-footer
                button.btn.btn-default(data-dismiss='modal') No
                button.btn.btn-primary(onclick='handleEmploymentDeleteClicked(event)') Yes
script.
    var memberId = '!{memberId}';
    var profileId = '!{profileId}';
    var userEmployment = JSON.parse( '!{JSON.stringify(escapeObject(userEmployment))}' );
    var unEscapeObject = !{unEscapeObject};
script(src='/js/app/dashboard/memberEmployment.js')