include header
include ../scriptsAndStyles
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .navbar.navbar-default
                .container
                    a.navbar-brand(href=DashboardUrls.integrationMembers(member.integration_id)) Back
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href="profile") Profile
                            li.active
                                a(href="education") Education
                            li
                                a(href="employment") Positions
                            li
                                a(href="profileComplete") Full Profile
            a#FetchFromLinkedIn
                input.btn.btn-primary(type='submit', value='Fetch Education Details From LinkedIn')
            .col-md-9
                .form-group
                    label.control-label(for='education') Education Details
                    br
                    if userEducation
                        each edu in userEducation
                            label.control-label(for='education') #{edu.school_name}&nbsp
                            a.fa.fa-pencil.edit(data-id=edu.id, data-toggle='modal', href='#EditUserEducationModal')
                            a.fa.fa-times.delete(data-id=edu.id, data-toggle='modal', href='#DeleteUserEducationModal')
                            br
                            if edu.degree
                                small #{edu.degree}
                                if edu.field_of_study
                                    small , #{edu.field_of_study}
                                br
                            if edu.start_year
                                small #{edu.start_year}&nbsp
                            if edu.end_year
                                small - #{edu.end_year}
                                br
                            br
                    a.btn.btn-default.btn-xs#addEducationBtn(data-toggle='modal', href='#AddUserEducationModal') Add Education
#AddUserEducationModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Add Education Details
            form#editForm
                .modal-body
                    label.control-label(for='school_name') School
                    input.form-control#school_name(type='text', name='school_name', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='dates_attended') Dates Attended
                    br
                    select#start_year(name='start_year', data-width='auto')
                        - for( var i = currentYear; i>=minYear; i--){
                            option(value="#{i}" selected = (currentYear == '#{i}')) #{i}
                        -}
                    label.control-label(for='dates_attended') &nbsp-&nbsp
                    select#end_year(name='end_year', data-width='auto')
                        - for( var i=currentYear; i>=minYear; i--){
                            option(value="#{i}" selected = (currentYear == '#{i}')) #{i}
                        -}
                    br
                    label.control-label(for='degree') Degree
                    input.form-control#degree(type='text', name='degree', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='field_of_study') Field of Study
                    input.form-control#field_of_study(type='text', name='field_of_study', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='activities') Activities and Socities
                    textarea.form-control#activities(type='text', name='activities' , data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='description') Description
                    textarea.form-control#description(type='text', name='description', data-toggle="tooltip", data-placement="bottom")
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') Close
                    input.btn.btn-primary(type='submit', value='Save')

#EditUserEducationModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Edit Education Details
            form
                .modal-body
                    label.control-label(for='school_name') School
                    input.form-control#school_name(type='text', name='school_name', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='dates_attended') Dates Attended
                    br
                    select.selectpicker#start_year(name='start_year', data-width='auto')
                        - for( var i = currentYear; i>=minYear; i--){
                            option(value="#{i}" selected = (currentYear == '#{i}')) #{i}
                        -}
                    label.control-label(for='dates_attended') &nbsp-&nbsp
                    select.selectpicker#end_year(name='end_year', data-width='auto')
                        - for( var i=currentYear; i>=minYear; i--){
                            option(value="#{i}" selected = (currentYear == '#{i}')) #{i}
                        -}
                    br
                    label.control-label(for='degree') Degree
                    input.form-control#degree(type='text', name='degree', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='field_of_study') Field of Study
                    input.form-control#field_of_study(type='text', name='field_of_study', data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='activities') Activities and Socities
                    textarea.form-control#activities(type='text', name='activities' , data-toggle="tooltip", data-placement="bottom")
                    label.control-label(for='description') Description
                    textarea.form-control#description(type='text', name='description', data-toggle="tooltip", data-placement="bottom")
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') Close
                    input.btn.btn-primary(type='submit', value='Update')
#DeleteUserEducationModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Delete Education Details
            .modal-body
                label Are you sure you want to delete this information?
            .modal-footer
                button.btn.btn-default(data-dismiss='modal') No
                button.btn.btn-primary(onclick='handleDeleteClicked(event)') Yes
script.
    var memberId = !{member.id};
    var profileId = '!{profileId}';
    var userEducation = JSON.parse( '!{JSON.stringify(userEducation)}' );
script(src='/js/app/dashboard/memberEducation.js')
