include ../header
include dashboardHeader
title SNT-#{formatName(user.first_name, user.last_name)} | Profile
.matter
    .container
        .row
            .content.col-md-4
                .row
                    nav.navbar.navbar-default.section-navbar(role='navigation')
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#networks-collapse')
                                span.sr-only Toggle profile navigation
                                i.icon-plus
                                i.icon-minus
                            .visible-xs.navbar-brand.network-brand Profile
                        #networks-collapse.collapse.navbar-collapse
                            ul.nav.nav-pills.nav-stacked
                                li.active
                                    a(href=DashboardUrls.userProfile(user.id)) Profile
                                li
                                    a(href=DashboardUrls.userSchedule(user.id)) Schedules and Pricing
                                li
                                    a(href='profile_expertise.html') Expertise
            //
               /.content
            .content.col-md-8
                .row
                    .card#basicInfo
                        .item
                            .row
                                h5.col-xs-8 Basic Info
                                .header-link.col-xs-4
                                    if isEditable
                                        a.btn.btn-primary(data-id=userProfile.id, name = 'editUserProfile')
                                            i.icon-pencil
                                        a.btn.btn-defualt#fetchBasic
                                            si.si-small.si-colored.si-linkedin
                            .user-profile
                                .avatar
                                    .shadow
                                    .placeholder.placeholder-male
                                    img(src=ApiUrlDelegate.userProfilePicture(user.id))
                                .info
                                    .info-upper
                                        .user-displayname #{formatName(user.first_name, user.last_name, user.title)}
                                        .user-age #{formatAge(user.date_of_birth,'DD-MM-YYYY') || 'Not specified'}
                                        .user-desc #{userProfile.short_desc}
                                    .info-lower
                                        .user-locale New Delhi
                                        .user-timezone
                                            each zone in Timezone
                                                if zone.zone_id == user.timezone
                                                    | #{formatTimezone(zone.gmt_offset)}
                                .clearer
                                if isEditable
                                    a.btn.btn-success.btn-xs#selectFileBtn Upload
                                    a.btn.btn-default.btn-xs#fetchProfilePicture
                                        si.si-small.si-colored.si-linkedin
                                    form#fileUploadForm(action=ApiUrlDelegate.userProfilePicture(user.id), method="post", enctype="multipart/form-data")
                                        input#selectFile(type='file', name='profile', style='display: none')
                                        input#selectFileSubmit(type='submit', style='display: none')
                                .profile
                                    p
                                        | #{userProfile.long_desc}
                        .item
                            .row
                                .meta.meta-keywords
                                    if isEditable
                                        h5.col-xs-8 Skills/Keywords
                                        a.btn.btn-success.btn-xs#addSkillbtn Add Skill
                                        a.btn.btn-default.btn-xs#fetchSkill
                                            si.si-small.si-colored.si-linkedin
                                    else
                                        h5.col-xs-12 Skills/Keywords
                                        .clearer
                                    if userSkill.length != 0
                                        ul
                                            each skill in userSkill
                                                li #{skill.skill_name}&nbsp
                                                    if isEditable
                                                        a(data-id=skill.id, name = 'deleteUserSkill')
                                                            i.icon-cancel
                                    else
                                        div No skills added yet
                    if isEditable
                        .card#AddUserSkillCard(style='display: none;')
                            form#AddUserSkillForm
                                .item-edit
                                    .item
                                        .row
                                            h5.col-xs-8 Add Skill
                                            .header-link.col-xs-4
                                                a.btn.btn-danger#cancelAddUserSkill
                                                    i.icon-cancel
                                    .item
                                        .row
                                            .form-group
                                                .form-group.col-md-10
                                                    input.form-control#skill_name(class='typeahead', type= 'text', name='skill_name', data-toggle="tooltip", data-placement="bottom", data-provide="typeahead", autocomplete="off")
                                                .form-group.col-md-2
                                                    img.pull-right#spinningWheel(alt="Loading", src="../../images/spinning_wheel.gif", class = " input form-control", height="42" ,width="42" , border="none")
                                            .clearer
                                                div.links-editing
                                                    p.edit-schedules
                                                        input.btn.btn-primary(type='submit', value='Save')
                    if isEditable
                        .card#editUserProfileCard(style='display: none;')
                            form#editUserProfileForm
                                .item-edit
                                    .item
                                        .row
                                            h5.col-xs-8 Edit Basic Info
                                            .header-link.col-xs-4
                                                a.btn.btn-danger#cancelEditUserProfile
                                                    i.icon-cancel
                                    .item
                                        .row
                                            .form-group.col-md-2x
                                                h3 Title
                                                select#title(name='title', data-width='auto')
                                                    each key,option in Salutation
                                                        option(value="#{option}" selected = ('#{user.title}' == '#{option}')) #{key}
                                            .form-group.col-md-3
                                                h3 First Name
                                                input.form-control(type='text', name='first_name', value=loggedInUser.first_name)
                                            .form-group.col-md-3
                                                h3 Middle Name
                                                input.form-control(type='text', name='middle_name', value=loggedInUser.middle_name)
                                            .form-group.col-md-3
                                                h3 Last Name
                                                input.form-control(type='text', name='last_name', value=loggedInUser.last_name)
                                        .row
                                            .form-group
                                                h3 Summary
                                                input.form-control(type='text', name='short_desc', value=userProfile.short_desc, autocomplete='off')
                                            .form-group
                                                h3 Description
                                                input.form-control(name='long_desc', value= userProfile.long_desc)
                                        .row
                                            .form-group.col-md-5
                                                h3 Industry
                                                select(name='industry')
                                                    each key,option in IndustryCodes
                                                        option(value="#{option}", selected = ('#{user.industry}' == '#{option}')) #{key}
                                            .form-group.col-md-2
                                                h3 Birthday
                                                input.form-control(type='text', class="datepicker" value = loggedInUser.date_of_birth, name= "birthDate")
                                        .row
                                            .form-group.col-md-2
                                                h3 TimeZone
                                                select(name='timezone')
                                                    each zone in Timezone
                                                        option(value="#{zone.zone_id}", selected = ('#{zone.zone_id}' == '#{user.timezone}')) (#{formatTimezone(zone.gmt_offset)}) #{zone.zone_name}
                                            .clearer
                                                div.links-editing
                                                    p.edit-schedules
                                                        input.btn.btn-primary(type='submit', value='Save')
                .row
                    .content.col-md-6
                        .card#educationDetails
                            .header
                                .meta.meta-keywords
                                    if isEditable
                                        h5.col-xs-8 Education Details
                                        .pull-right
                                            a.btn.btn-success.btn-xs#addeducationbtn Add Education
                                            a.btn.btn-default.btn-xs#fetchEducation
                                                si.si-small.si-colored.si-linkedin
                                    else
                                        h5.col-xs-12 Education Details
                            br
                            if userEducation.length != 0
                                each edu in userEducation
                                    .item
                                        .row
                                            h5.col-xs-8 #{edu.school_name}
                                            .header-link.col-xs-4
                                                if isEditable
                                                    a.btn.btn-primary(data-id=edu.id, name = 'editUserEducation')
                                                        i.icon-pencil
                                                    a.btn.btn-danger(data-id=edu.id, name = 'deleteUserEducation')
                                                        i.icon-trash
                                            div
                                            if edu.degree
                                                | #{edu.degree}
                                                if edu.field_of_study
                                                    | , #{edu.field_of_study}
                                                    br
                                            if edu.start_year
                                                | #{edu.start_year}&nbsp
                                                if edu.end_year
                                                    | - #{edu.end_year}
                                                    br
                            else
                                .item
                                    .row
                                        div No schools added yet
                        if isEditable
                            .card#AddUserEducationCard(style='display: none;')
                                form#AddUserEducationForm
                                    input.form-control(type="hidden", name="id")
                                    .item-edit
                                        .item
                                            .row
                                                h5.col-xs-8 Add Education
                                                .header-link.col-xs-4
                                                    a.btn.btn-danger#cancelAddUserEducation
                                                        i.icon-cancel
                                        .item
                                            .row
                                                .form-group
                                                    h3 School
                                                    input.form-control(type='text', name='school_name')
                                                .form-group
                                                    h3 Dates Attended
                                                    .controls
                                                        select(name='start_year', data-width='auto')
                                                            - for (var i = currentYear; i >= minYear; i--){
                                                                option(value="#{i}" selected = (currentYear == '#{i}')) #{i}
                                                            -}
                                                        select(name='end_year', data-width='auto')
                                                            - for( var i=currentYear; i>=minYear; i--){
                                                                option(value="#{i}" selected = (currentYear == '#{i}')) #{i}
                                                            -}
                                                .form-group
                                                    h3 Degree
                                                    input.form-control(type='text', name='degree')
                                                .form-group
                                                    h3 Field of Study
                                                    input.form-control(type='text', name='field_of_study')
                                                .form-group
                                                    h3 Activities and Socities
                                                    input.form-control(type='text', name='activities')
                                                .form-group
                                                    h3 Description
                                                    input.form-control(type='text', name='description')
                                                .clearer
                                                div.links-editing
                                                    p.edit-schedules
                                                        input.btn.btn-primary(type='submit', value='Save')
                    .content.col-md-6
                        .card#employmentDetails
                            .header
                                .meta.meta-keywords
                                    if isEditable
                                        h5.col-xs-7 Employment Details
                                        .pull-right
                                            a.btn.btn-success.btn-xs#addEmploymentbtn Add Employment
                                            a.btn.btn-default.btn-xs#fetchEmployment
                                                si.si-small.si-colored.si-linkedin
                                    else
                                        h5.col-xs-12 Employment Details
                            br
                            if userEmployment.length != 0
                                each emp in userEmployment
                                    .item
                                        .row
                                            h5.col-xs-8 #{emp.title}
                                            .header-link.col-xs-4
                                                if isEditable
                                                    a.btn.btn-primary(data-id=emp.id, name = 'editUserEmployment')
                                                        i.icon-pencil
                                                    a.btn.btn-danger(data-id=emp.id, name = 'deleteUserEmployment')
                                                        si.icon-trash
                                            div
                                                if emp.company
                                                    | #{emp.company}
                                                    br
                                                if emp.start_date && emp.start_date != -1
                                                    | #{formatDate(emp.start_date, 'MM-YYYY')}
                                                if emp.end_date && emp.end_date != -1
                                                    | - #{formatDate(emp.end_date, 'MM-YYYY')}
                                                    br
                                                if emp.summary
                                                    | #{emp.summary}
                            else
                                .item
                                    .row
                                        div No workplaces added yet
                        if isEditable
                            .card#AddUserEmploymentCard(style='display: none;')
                                form#AddUserEmploymentForm
                                    input.form-control(type="hidden", name="id")
                                    .item-edit
                                        .item
                                            .row
                                                h5.col-xs-8 Add Position Details
                                                .header-link.col-xs-4
                                                    a.btn.btn-danger#cancelAddUserEmployment
                                                        i.icon-cancel
                                        .item
                                            .row
                                                .form-group
                                                    h3 Title
                                                    input.form-control(type='text', name='title')
                                                .form-group
                                                    h3 Company
                                                    input.form-control(type='text', name='company')
                                                .form-group
                                                    h3 Time Period
                                                    .row
                                                        .col-md-4
                                                            input.form-control.datepicker(type='text', name ="start_date", data-date-format="MM/YYYY")
                                                        .col-md-1
                                                            | to
                                                        .col-md-4
                                                            input.form-control.datepicker(type='text', name="end_date", data-date-format="MM/YYYY")
                                                .form-group
                                                    h3 Summary
                                                    input.form-control(type='text', name='summary')
                                                .form-group
                                                    h3 Is Current? &nbsp&nbsp
                                                    select#(name='is_current', data-width='auto', name='is_current')
                                                        option(value="1" selected = (currentYear == '#{i}')) Yes
                                                        option(value="0" selected = (currentYear == '#{i}')) No
                                            .clearer
                                                div.links-editing
                                                    p.edit-schedules
                                                        input.btn.btn-primary(type='submit', value='Save')
include ../footer
if isEditable
    script.
        var userId = '!{user.id}';
        var user = JSON.parse( '!{JSON.stringify(user)}' );
        var userSkill = JSON.parse( '!{JSON.stringify(userSkill)}' );
        var userProfile = JSON.parse ( '!{JSON.stringify(userProfile)}' );
        var userEducation = JSON.parse( '!{JSON.stringify(escapeObject(userEducation))}' );
        var userEmployment = JSON.parse( '!{JSON.stringify(escapeObject(userEmployment))}' );
    var unEscapeObject = !{unEscapeObject};
    script(src='/js/app/dashboard/memberProfile.js')
    script(src='/js/app/dashboard/memberEducation.js')
    script(src='/js/app/dashboard/memberEmployment.js')