extends header
block content
    title SearchNTalk - Schedule
    .clearfix
        if rules.length != 0
            h4 Existing Schdules
                .pull-right
                    button.btn.btn-default.btn-xs#addSchedule(data-toggle='modal', href='#AddSchedule') Add
            table.table-bordered.table.sortable#rules
                thead
                    tr
                        th.col-md-1 Schedule Title
                        th.col-md-2 Schedule Day(s)
                        th.col-md-2 Start Time
                        th.col-md-2 End Time
                        th.col-md-1 Price
                        th.col-md-1
                tbody
    #AddSchedule.modal.fade(style='display: none;')
        .modal-dialog
            .modal-content
                .modal-header
                    .close(data-dismiss='modal', aria-hidden='true') x
                    h4.modal-title Add/Edit Schedule
                form
                    .modal-body
                        .row
                            .form-group
                                label.control-label Title
                                input.form-control#title(type='text', name='title')
                            .form-group
                                label.control-label Day(s) this Schedule is valid for
                                select#day(name='day')
                                    - var days = {'1':'Monday','2':'Tuesday','3':'Wednesday','4':'Thursday','5':'Friday','6':'Saturday','0':'Sunday','1-5':'Weekdays','0,6':'Weekends'};
                                    each key,value in days
                                        option(value=value) !{key}
                            .form-group
                                label.control-label Start Time
                                select#startHour(name='startHour')
                                    - for (var i = 0; i <24 ; i++){
                                        option(value="#{i}") #{i}
                                    - }
                                | :&nbsp
                                select#startMinute(name = 'startMinute')
                                    - for (var i = 0; i <60 ; i++){
                                        option(value="#{i}") #{i}
                                    - }
                            .form-group
                                label.control-label End Time
                                select#endHour(name='endHour')
                                    - for (var i = 0; i <24; i++){
                                        option(value="#{i}") #{i}
                                    - }
                                | :&nbsp
                                select#endMinute(name='endMinute')
                                    - for (var i = 0; i <60 ; i++){
                                        option(value="#{i}") #{i}
                                    - }
                            .form-group.col-md-2
                                label.control-label Price Unit
                                select#priceUnit(data-width='auto', name='priceUnit')
                                    option(value=1) Rs.
                                    option(value=2) $
                            form-group.col-md-3
                                label.control-label Price Per Min
                                .input-group-btn
                                    input.form-control#pricePerMin(type='text', name='pricePerMin')
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close
                        input.btn.btn-primary(type='submit', value='Save')
    script.
        var memberId = '!{memberId}';
        var rules = JSON.parse( '!{JSON.stringify(rules)}' );
    script(src='/js/app/dashboard/schedule.js')
    script(src='/js/lib/bootstrap-timepicker.js')