include header
include ../scriptsAndStyles
.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            .navbar.navbar-default
                .container
                    a.navbar-brand(href=DashboardUrls.integrationMembers(member.integration_id)) Back
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href="profile") Profile
                            li
                                a(href="education") Education
                            li
                                a(href="employment") Positions
                            li
                                a(href="profileComplete") Full Profile
            .col-md-3
                img.img.img-polaroid.img-responsive.col-md-12#profileImage(src='/rest/user/' + logged_in_user.id + '/picture')
                form#fileUploadForm(action='/rest/user/' + logged_in_user.id + '/picture', method="post", enctype="multipart/form-data")
                    input(type='hidden', name='huha', value='juja')
                    input#selectFile(type='file', name='profile', style='display: none')
                    input#selectFileSubmit(type='submit', style='display: none')
                    .text-center
                        a.btn.btn-default.btn-xs#selectFileBtn Upload
            .col-md-9
                form.form-horizontal#profileForm
                    .row
                        .form-group.col-md-2
                            label(for='title').control-label Title
                            titles = ["Mr.", "Mrs.", "Ms.", "Dr.", "Prof.", "Gen.", "St."]
                            select#title(name='title', data-width='auto')
                                each title in titles
                                    option(value="#{title}" selected = (user.title == '#{title}')) #{title}
                        .form-group.col-md-3
                            label.control-label(for='first_name') First Name
                            input.form-control#first_name(type='text', name='first_name', value=user.first_name, data-toggle="tooltip", data-placement="bottom")
                        .form-group.col-md-3
                            label.control-label(for='middle_name') Middle Name
                            input.form-control#middle_name(type='text', name='middle_name', value=user.midle_name, data-toggle="tooltip", data-placement="bottom")
                        .form-group.col-md-3
                            label.control-label(for='last_name') Last Name
                            input.form-control#last_name(type='text', name='last_name', value=user.last_name, data-toggle="tooltip", data-placement="bottom")
                    hr
                    .form-group
                        label.control-label(for='short_desc') Summary
                        input.form-control#short_desc(type='text', name='short_desc', value=user.short_desc, autocomplete='off', data-toggle="tooltip", data-placement="bottom")
                    .form-group
                        label.control-label(for='long_desc') Description
                        textarea.form-control#long_desc(name='long_desc', data-toggle="tooltip", data-placement="bottom") #{user.long_desc}
                    .row
                        .form-group.col-md-6
                            label.control-label(for='industry') Industry
                            select#industry(name='industry', data-width='auto')
                                each key,option in industryCodes
                                    option(value="#{option}", selected = (user.industry == '#{option}')) #{key}
                        birthDate = user.date_of_birth
                        .form-group.col-md-3
                            label.control-label(for='birth_day') Birthday
                            input.form-control#birthDate(class="datepicker" value = '#{birthDate}')
                    hr
                    .form-group
                        label.control-label(for='revenue_share') Revenue Share
                        .form-control-static#revenue_share= formatMoney(member.revenue_share, member.revenue_share_unit)
                            | &nbsp;/ call
                    .form-group
                        label.control-label(for='password') Password
                        input.form-control#password(type='password', name='password', data-toggle="tooltip", data-placement="bottom")
                    hr
                    .form-group
                        label.control-label(for='confirm_password') Confirm Password
                        input.form-control#confirm_password(type='password', name='confirm_password', data-toggle="tooltip", data-placement="bottom")
                    .form-group
                        input.form-control.btn.btn-primary(type='submit', value='Save Changes')
                .form-group
                    label.control-label(for='skill') Skill Details
                    br
                    each skill in userSkill
                        label.control-label(for='skill') #{skill.skill_name}&nbsp
                        a.fa.fa-pencil.editSkill(data-id=skill.id, data-toggle='modal', href='#EditUserSkillModal')
                        a.fa.fa-times.deleteSkill(data-id=skill.id, data-toggle='modal', href='#DeleteUserSkillModal')
                        br
                    a.btn.btn-default.btn-xs#addSkillBtn(data-toggle='modal', href='#AddUserSkillModal') Add Skill
        .col-md-2
#AddUserSkillModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Add Skill
            form#editForm
                .modal-body
                    label.control-label(for='add_skill') Skill
                    input.form-control#skill_name(class='typeahead', type='text', name='skill_name', data-toggle="tooltip", data-placement="bottom", data-provide="typeahead", autocomplete="off")
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') Close
                    input.btn.btn-primary(type='submit', value='Save')
#EditUserSkillModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Edit Skill
            form
                .modal-body
                    label.control-label(for='edit_skill') Skill
                    input.form-control#skill_name(class='typeahead', type= 'text', name='skill_name', data-toggle="tooltip", data-placement="bottom", data-provide="typeahead", autocomplete="off")
                .modal-footer
                    button.btn.btn-default(data-dismiss='modal') Close
                    input.btn.btn-primary(type='submit', value='Update')
#DeleteUserSkillModal.modal.fade(style='display: none;')
    .modal-dialog
        .modal-content
            .modal-header
                .close(data-dismiss='modal', aria-hidden='true') x
                h4.modal-title Delete Skill
            .modal-body
                label Are you sure you want to delete this information?
            .modal-footer
                button.btn.btn-default(data-dismiss='modal') No
                button.btn.btn-primary(onclick='handleSkillDeleteClicked(event)') Yes
script.
    var memberId = !{member.id}
    var userSkill = JSON.parse( '!{JSON.stringify(userSkill)}' );
script(src='/js/lib/bootstrap3-typeahead.js')
script(src='/js/lib/bloodhound.js')
script(src='/js/app/dashboard/memberProfile.js')