- var user = expert.user[0];

include ../header
// /.masthead
.matter
    .container
        .row
            .flowbar.col-xs-3.col-sm-3.col-md-12.col-lg-12
                .shadow
                ul.nav.nav-pills.nav-justified.nav-stacked
                    li.completed
                        a(href='')
                            span.nav-label
                                i.icon-schedule
                                span.hidden-xs Schedule
                    li.completed
                        a(href='')
                            span.nav-label
                                i.icon-pay
                                span.hidden-xs Pay
                    li.active
                        a(href='')
                            span.nav-label
                                i.icon-talk
                                span.hidden-xs Talk
            // flowbar
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .call-profile
                            .hidden-xs.avatar
                                .shadow
                                    a(href=DashboardUrls.memberProfile(expert.id))
                                        img(src=ApiUrlDelegate.userProfilePicture(user.id), width='100%', height='100%')
                            .info
                                .user-displayname= formatName(user.first_name, user.last_name, user.title)
                                if (user.date_of_birth)
                                    .user-age= moment().diff(moment(parseInt(user.date_of_birth)), 'years') + ' years'
                            .clearer
                            .meta.meta-schedule
                                h5 Your chosen slots
                                ul
                                    li.schedule-a= formatDate(appointments[0], 'ddd DD MMM YYYY, hh:mm a')
                                    li.schedule-b= formatDate(appointments[1], 'ddd DD MMM YYYY, hh:mm a')
                                    li.schedule-c= formatDate(appointments[2], 'ddd DD MMM YYYY, hh:mm a')
                            .meta
                                h5 Call Recepient
                                p +91-#{caller_phone}
                            .meta
                                h5 Call Agenda
                                p #{phoneCall.agenda}
                    .col-md-6
                        .call-card
                            if error
                                .call-status
                                    .alert.alert-danger
                                        strong Sorry!
                                        | &nbsp;We couldn't schedule the call because&nbsp;
                                        strong #{error}
                                        br
                                        br
                                        | You may try again with a new schedule.
                                .call-reversal
                                    a.btn.btn-default(href=CallFlowUrls.callExpert(expert.id))
                                        | Try scheduling again
                                        i.icon-left-arrow
                            else
                                .call-status
                                    .alert.alert-success
                                        strong Payment Success!
                                        | Your call has been scheduled as per your request.
                                        br
                                        br
                                        | You may use this page to manage this call.
                            if !error
                                .payment-summary.call-inputs
                                    h1
                                        i.icon-bill
                                        | Payment Summary
                                    .table
                                        - var total = 0, currency
                                            each line in transactionLines
                                                - total += line.amount
                                                - currency = line.amount_unit
                                                .table-row
                                                    case line.transaction_type
                                                        when 1
                                                            .table-cell.title Call duration: #{duration} mins @ #{formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)} / min
                                                        when 2
                                                            .table-cell.title Network charges
                                                        when 3
                                                            .table-cell.title Tax @#{Config.get(Config.CALL_TAX_PERCENT)}%
                                                        when 4
                                                            .table-cell.title Discount
                                                    .table-cell.amount= formatMoney(line.amount, line.amount_unit)
                                        .table-row.total
                                            .table-cell.title Total
                                            .table-cell.amount= formatMoney(total, currency)
                                .call-reversal
                                    a.btn.btn-danger(href='index.html')
                                        | Cancel Call
                                        i.icon-cancel
            // /.content
include ../footer
