title SearchNTalk | Create Account
- member = member || {};
- member.user = member.user || {};
- integration = integration || {};
include ../header
.matter
    .container
        .row
            .content.col-xs-12.col-sm-12.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .user-profile
                            .hidden-xs.profile
                                p Please begin by creating an account on searchntalk.com
                            .clearer
                            .hidden-xs.meta.meta-keywords
                                h5 How it works
                                dl
                                    dt Share your expertise
                                    dd You can charge for your advice or offer it for free
                                    dt After your approval
                                    dd Callers will book an appointment and share agenda before the call
                                    dt Your number stays private
                                    dd We connect the calls without disclosing your number
                    .col-md-6
                        .card
                            include ../errorMessage
                            form#registration-form(method='POST')
                                .item-edit
                                    h3 Email
                                    .form-group
                                        input.form-control(name='email', type='email', autocomplete='off')
                                    h3 First Name
                                    .form-group
                                        input.form-control(name='first_name', type='text', autocomplete='off')
                                    h3 Last Name
                                    .form-group
                                        input.form-control(name='last_name', type='text', autocomplete='off')
                                    h3 Password
                                    .form-group
                                        input.form-control(type='password', name='password', autocomplete='off')
                                    h3 Confirm Password
                                    .form-group
                                        input.form-control(type='password', name='confirm_password', autocomplete='off')
                                    h3 Timezone
                                    .form-group
                                        select.form-control(name='timezone')
                                            each zone in Timezone
                                                option(value="#{zone.zone_id}") (#{formatTimezone(zone.gmt_offset)}) #{zone.zone_name}
                                    .links-editing
                                        input(type='hidden', name='invitation_code', value=code)
                                    .links-editing
                                        input.btn-primary.btn.btn-block(value='Register', type='submit')
                                    .links-editing
                                        a.btn-linkedin.btn.btn-block#linkedInLoginButton Login with LinkedIn
                                        a.btn.btn-link(href=AuthenticationUrls.login()) Login
            // /.content
include ../footer
include ../linkedInLogin
script.
    var Timezone = JSON.parse('!{JSON.stringify(Timezone)}');
script(src='/js/app/expertRegistration/authenticate.js')