include ../header
include dashboardHeader
title ST-#{formatName(user.first_name, user.last_name)}
.matter
    .container
        .row
            .col-md-4.content
                #basicProfile
                    include cards/BasicInfoCard
                if isEditable
                    #addSkill(style='display: none;')
                        include cards/AddSkill
            .col-md-8.content
                if isEditable
                    .alert.alert-warning
                        strong Keep improving your profile
                        p Use expertise listing to showcase your skills better.
                        .actions-pane
                            .row
                                .align-left.col-md-12
                                    a.btn.btn-warning#addExpertiseBtn Add an Expertise
                                    a.btn.btn-linkedin#fetchFromLinkedin Fetch from LinkedIn
                                    a.btn.btn-link(href=DashboardUrls.userProfile(user.id) + '?mode=public', style='color: blue') View Public Profile
                    form.card#linkedinFetch(style='display: none;')
                        .item-edit
                            .item
                                .row
                                    h5.col-xs-8 Select what do you want to fetch from LinkedIn?
                                    .header-link.col-xs-4
                                        a.btn.btn-danger#cancelLinkedinFetch
                                            i.icon-trash
                            .item
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchBasic", value="fetchBasic")
                                        .col-xs-2 Basic Info
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchProfilePicture", value="fetchProfilePicture")
                                        .col-xs-2 Profile Picture
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchSkill", value="fetchSkill")
                                        .col-xs-2 Skill Details
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchEducation", value="fetchEducation")
                                        .col-xs-3 Education Details
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchEmployment", value="fetchEmployment")
                                        .col-xs-3 Employment Details
                            .clearer
                            .links-editing
                                p Fetch From LinkedIn
                                    input.btn.btn-primary(type='submit', value='Fetch')
                .row#expertise
                    include cards/ExpertiseCard
                .row
                    .content.col-md-6
                        #userEducation
                            include cards/UserEducationCard
                    .content.col-md-6
                        #userEmployment
                            include cards/UserEmploymentCard
include ../footer
if isEditable
    include ../linkedInLogin
    script.
        var userId = '!{user.id}';
        var user = JSON.parse( '!{JSON.stringify(escapeObject(user))}' );
        var userProfile = JSON.parse ( '!{JSON.stringify(userProfile)}' );
        var userEducation = JSON.parse( '!{JSON.stringify(escapeObject(user.education || {}))}' );
        var userEmployment = JSON.parse( '!{JSON.stringify(escapeObject(user.employment || {}))}' );
        var userExpertise = JSON.parse( '!{JSON.stringify(escapeObject(userExpertise))}' );
        var unEscapeObject = !{unEscapeObject};
    script(src='/js/app/dashboard/userProfile.js')
    script(src='/js/app/dashboard/fileUpload.js')
    script(src='/js/app/dashboard/memberEducation.js')
    script(src='/js/app/dashboard/memberEmployment.js')