include ../header
include dashboardHeader
title SNT-#{formatName(user.first_name, user.last_name)} | Profile
.matter
    .container
        .row
            .col-md-4.content
                #basicInfo
                    include cards/BasicInfoCard
                if isEditable
                    #editBasicInfo(style='display: none;')
                        include cards/EditBasicInfoCard
                    #addSkill(style='display: none;')
                        include cards/AddSkill
            .col-md-8.content
                if isEditable
                    .alert.alert-warning
                        strong You haven't added any expertise listings yet
                        p Creating listings helps showcase each of your expertise in a better manner
                        .actions-pane
                            .row
                                .align-left.col-md-12
                                    a.btn.btn-warning#addExpertiseBtn Add an Expertise
                                    a.btn.btn-linkedin#fetchFromLinkedin Fetch from LinkedIn
                                    a.btn.btn-link(href=DashboardUrls.userProfile(user.id) + '?mode=public', style='color: blue') View Public Profile
                    form.card#linkedinFetch(style='display: none;')
                        .item-edit
                            .item
                                .row
                                    h5.col-xs-8 Select what do you want to fetch from LinkedIn?
                                    .header-link.col-xs-4
                                        a.btn.btn-danger#cancelLinkedinFetch
                                            i.icon-trash
                            .item
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchBasic", value="fetchBasic")
                                        .col-xs-2 Basic Info
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchProfilePicture", value="fetchProfilePicture")
                                        .col-xs-2 Profile Picture
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchSkill", value="fetchSkill")
                                        .col-xs-2 Skill Details
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchEducation", value="fetchEducation")
                                        .col-xs-3 Education Details
                                .row
                                    .form-group
                                        .col-xs-1
                                            input(type="checkbox", name="fetchEmployment", value="fetchEmployment")
                                        .col-xs-3 Employment Details
                                .clearer
                                div.links-editing
                                    p.edit-schedules
                                        input.btn.btn-primary(type='submit', value='Fetch')
                .row
                    for expertise in userExpertise
                        div.card
                            div.item
                                div.row
                                    h5.col-xs-8= expertise.title
                                    div.header-link.col-xs-4
                                        a.btn.btn-primary#editExpertiseBtn
                                            i.icon-pencil
                                div.session-and-ratings
                                    if expertise.session_duration
                                        div.badge.badge-session.session-info
                                            h2 Session
                                            h1= expertise.session_duration
                                                | &nbsp;mins.
                                    div.clearer
                                div.image-and-video
                                    div.video-container
                                    div.shadow
                                div.meta.meta-keywords
                                    h5 Skills/Keywords
                                    ul
                                        li Social Policy
                                        li Consulting
                                        li Learning
                                div.summary-and-description
                                    p= expertise.description
                                div.meta.meta-keywords
                                    h5 Experience
                                    h1= expertise.years_of_experience
                                        | &nbsp;yrs.
                form.card#expertiseDetails(style='display: none;')
                    .item
                        .item-edit
                            .row
                                .inputs.col-xs-8
                                    .input-group
                                        input.form-control(type='text', placeholder='Expertise Title', name='title')
                                .header-link.col-xs-4
                                    a.btn.btn-danger#cancelExpertiseDetails
                                        i.icon-trash
                            div
                                div#sessionToggle
                                    h3 Session:
                                    .btn-group(data-toggle='buttons')
                                        label.btn.btn-radio.active
                                            input(type='radio', name='session_toggle', value='1')
                                            | Yes
                                        label.btn.btn-radio
                                            input(type='radio', name='session_toggle', value='0')
                                            | No
                                div#pricing
                                    h3 Pricing:
                                    .form-group
                                        .row
                                            .col-md-2
                                                input.form-control(type='text', name='session_pricing', placeholder='0 = Free')
                                            .col-md-2
                                                select.form-control(name='session_price_unit')
                                                    option $
                                            .col-md-1 for
                                            .col-md-3
                                                .input-group
                                                    input.form-control(type='text', name='session_duration', placeholder='Session length')
                                                    .input-group-addon
                                                        span mins.
                                .clearer
                                h3 Skills/Keywords:
                                .form-group
                                    input.form-control(type='text')
                                h3 Description:
                                .form-group
                                    textarea.form-control(name='description', rows='4')
                                h3 Years of experience:
                                .form-group
                                    input.form-control(name='years_of_experience', type='text')
                    .links-edit
                        p
                            | Editing Expertise
                            input.btn.btn-primary.done-editing-schedules(type='submit', value='Save')
                .row
                    .content.col-md-6
                        #userEducation
                            include cards/UserEducationCard
                    .content.col-md-6
                        #userEmployment
                            include cards/UserEmploymentCard
include ../footer
if isEditable
    script.
        var userId = '!{user.id}';
        var user = JSON.parse( '!{JSON.stringify(user)}' );
        var userSkill = JSON.parse( '!{JSON.stringify(userSkill)}' );
        var userProfile = JSON.parse ( '!{JSON.stringify(userProfile)}' );
        var userEducation = JSON.parse( '!{JSON.stringify(escapeObject(userEducation))}' );
        var userEmployment = JSON.parse( '!{JSON.stringify(escapeObject(userEmployment))}' );
        var userExpertise = JSON.parse( '!{JSON.stringify(escapeObject(userExpertise))}' );
        var unEscapeObject = !{unEscapeObject};
    script(src='/js/app/dashboard/userProfile.js')
    script(src='/js/app/dashboard/fileUpload.js')
    script(src='/js/app/dashboard/memberEducation.js')
    script(src='/js/app/dashboard/memberEmployment.js')