include ../header
include dashboardHeader
style.
    #userPhoneDetailsCard .update {
        display: none;
    }
title SNT-#{formatName(loggedInUser.first_name, loggedInUser.last_name)} | Setting
.matter
    .container
        .row
            .content.col-md-4
                .row
                    nav.navbar.navbar-default.section-navbar(role='navigation')
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#networks-collapse')
                                span.sr-only Toggle profile navigation
                                i.icon-plus
                                i.icon-minus
                            .visible-xs.navbar-brand.network-brand Profile
                        .collapse.navbar-collapse#sectionNav
                            ul.nav.nav-pills.nav-stacked
                                li(class=selectedTab == 'phone' || !selectedTab ? 'active' : '')
                                    a Phone Numbers
                                li(class=selectedTab == 'schedule' ? 'active' : '')
                                    a Schedules and Pricing
                                li(class=selectedTab == 'password' ? 'active' : '')
                                    a Change Password
            //
               /.content
            .content.col-md-8#sections
                .row
                    #userPhone
                        include cards/UserPhoneCard
                .row(style='display: none;')
                    #userSchedule
                        include userSchedule
                .row(style='display: none;')
                    .card#password
                        form#changePasswordForm
                            .alert.alert-danger(style='display: none;')
                            .item-edit
                                h3 Old Password
                                .form-group
                                    input.form-control(type='password', name='oldPassword')
                                h3 New Password
                                .form-group
                                    input.form-control(type='password', name='newPassword')
                                h3 Confirm Password
                                .form-group
                                    input.form-control(type='password', name='confirmPassword')
                                div.links-editing
                                    p.edit-schedules
                                        input.btn.btn-primary(type='submit', value='Change', name='changePassword')
script.
    var user = JSON.parse( '!{JSON.stringify(loggedInUser)}' );
    var selectedTab = '!{selectedTab || "phone"}';
    var userPhones = JSON.parse( '!{JSON.stringify(userPhone || [])}' );
script(src='/js/app/dashboard/userSetting.js')
include ../footer