include ../header
include dashboardHeader
style.
    #userPhoneDetailsCard .update {
        display: none;
    }
title SNT-#{formatName(loggedInUser.first_name, loggedInUser.last_name)} | Setting
.matter
    .container
        .row
            .content.col-md-4
                .row
                    nav.navbar.navbar-default.section-navbar(role='navigation')
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#networks-collapse')
                                span.sr-only Toggle profile navigation
                                i.icon-plus
                                i.icon-minus
                            .visible-xs.navbar-brand.network-brand Profile
                        #networks-collapse.collapse.navbar-collapse
                            ul.nav.nav-pills.nav-stacked
                                li(name='phoneDetailsLink', class=selectedTab == 'phone' || !selectedTab ? 'active' : '')
                                    a Phone Numbers
                                li(name='scheduleAndPricingLink', class=selectedTab == 'schedule' ? 'active' : '')
                                    a Schedules and Pricing
                                li(name='changePasswordLink', class=selectedTab == 'password' ? 'active' : '')
                                    a Change Password
            //
               /.content
            .content.col-md-8
                include userSchedule
                .row
                    .card#phone
                        .addit
                            a.btn.btn-primary#addUserPhone Add a Phone Number
                                i.icon-plus
                        if (userPhone && userPhone.length > 0)
                            for phone in userPhone
                                .item
                                    .row
                                        big.col-xs-8 #{formatPhone(phone)}
                                        .header-link.col-xs-4
                                            a.btn.btn-primary.editUserPhone(data-id=phone.id)
                                                i.icon-pencil
                        else
                            .alert.alert-warning
                                strong You have not added any phone numbers yet.
                                br
                                | You will need to add atleast one phone number to receive calls.
                    .card#userPhoneDetailsCard(style='display: none;')
                        form
                            .alert.alert-danger

                            .item-edit
                                .item
                                    .header-row.row
                                        h5.col-xs-8 Phone Number
                                        .header-link.col-xs-4
                                            a.btn.btn-danger#cancelEditUserPhone
                                                i.icon-cancel
                                .item
                                    .row
                                        h3 Phone Number:
                                        .form-group
                                            .row
                                                .col-xs-4
                                                    select.form-control(name='country_code')
                                                        for name,abb in CountryName
                                                            - var code = CountryCode[abb];
                                                            option(value=code)= name + ' (+' + code + ')'
                                                .col-xs-8
                                                    input.form-control.phone-number(type='text', placeholder='Phone Number', name='phone')
                                        .clearer
                                        h3.update Verification Code:
                                        .form-group.update
                                            input.form-control(name='code', placeholder='Enter verification code')
                                        div.links-editing
                                            p.edit-schedules
                                                input(type='hidden', name='code_sent')
                                                input(type='hidden', name='id')
                                                input.btn.btn-primary.sendCode(type='submit', value='Send Verification Code', name='sendCode')
                                                input.btn.btn-primary.update(type='submit', value='Verify and Update', name='update')
                    .card#password(style='display: none;')
                        form#changePasswordForm
                            .item-edit
                                h3 Old Password
                                .form-group
                                    input.form-control(type='password', name='oldPassword')
                                h3 New Password
                                .form-group
                                    input.form-control(type='password', name='newPassword')
                                h3 Confirm Password
                                .form-group
                                    input.form-control(type='password', name='confirmPassword')
                                div.links-editing
                                    p.edit-schedules
                                        input.btn.btn-primary(type='submit', value='Change', name='changePassword')
script.
    var user = JSON.parse( '!{JSON.stringify(loggedInUser)}' );
    var selectedTab = '!{selectedTab || "phone"}';
    var userPhones = JSON.parse( '!{JSON.stringify(userPhone || [])}' );
script(src='/js/app/dashboard/userSetting.js')