include ../header
- var pricing = user.pricing_scheme[0]
- var minDuration = pricing.min_duration
style.
    #login-modal .register {
        display: none;
    }
title ST-#{formatName(user.first_name, user.last_name, user.title)} | Payment for Call
.matter
    .container
        .row
            .flowbar.col-xs-3.col-sm-3.col-md-12.col-lg-12
                .shadow
                ul.nav.nav-pills.nav-justified.nav-stacked
                    li.completed
                        a(href=CallFlowUrls.callExpert(user.id))
                            span.nav-label
                                i.icon-schedule
                                span.hidden-xs Schedule
                    li.active
                        a(href='')
                            span.nav-label
                                i.icon-pay
                                span.hidden-xs Pay
                    li.disabled
                        a(href='')
                            span.nav-label
                                i.icon-talk
                                span.hidden-xs Talk
            // flowbar
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .call-profile
                            .hidden-xs.avatar
                                .shadow
                                    a(href=DashboardUrls.userProfile(user.id))
                                        img(src=ApiUrlDelegate.userProfilePicture(user.id)+ '?imageSize=200', width='100%', height='100%')
                            .info
                                .user-displayname= formatName(user.first_name, user.last_name, user.title)
                                if (user.date_of_birth)
                                    .user-age= moment().diff(moment(parseInt(user.date_of_birth)), 'years') + ' years'
                            .clearer
                            .meta.meta-price
                                h5 Charges
                                p
                                    if pricing
                                        strong= formatMoney(pricing.charging_rate, pricing.unit)
                                        if pricing.chunk_size > 1
                                            | &nbsp;for&nbsp;
                                            span= pricing.chunk_size
                                            | &nbsp;mins.
                                        else
                                            | &nbsp;/ min.
                                        if pricing.min_duration > 0
                                            .pull-right
                                                .small
                                                    | &nbsp;(minimum &nbsp;
                                                    span= pricing.min_duration
                                                    | &nbsp;mins.)
                                    else
                                        strong Free
                            .meta.meta-schedule
                                h5 Selected time slots
                                ul
                                    li.schedule-a= formatDate(appointments[0] + userGmtOffset, 'ddd DD MMM YYYY, hh:mm a')
                                    li.schedule-b= formatDate(appointments[1] + userGmtOffset, 'ddd DD MMM YYYY, hh:mm a')
                                    li.schedule-c= formatDate(appointments[2] + userGmtOffset, 'ddd DD MMM YYYY, hh:mm a')
                            .meta
                                h5 Call Recepient
                                p +#{country_code}-#{caller_phone}
                            .meta
                                h5 Call Agenda
                                p= phoneCall.agenda
                    .col-md-6
                        .call-card
                            .call-reversal
                                a.btn.btn-default(href=CallFlowUrls.callExpert(user.id))
                                    | Back to Schedule
                                    i.icon-left-arrow
                            .payment-summary.call-inputs
                                h1
                                    i.icon-bill
                                    | Payment Summary
                                if messages && messages.error
                                    .alert.alert-danger
                                        strong Sorry!&nbsp;
                                        | #{messages.error}
                                .table
                                    - var total = 0, currency
                                        each line in transactionLines
                                            - total += line.amount
                                            - currency = line.amount_unit
                                            .table-row
                                                case line.transaction_type
                                                    when 1
                                                        .table-cell.title Call duration: #{duration} mins @ #{formatMoney(pricing.charging_rate, pricing.unit)} / min
                                                    when 2
                                                        .table-cell.title Network charges
                                                    when 3
                                                        .table-cell.title Tax @#{Config.get(Config.CALL_TAX_PERCENT)}%
                                                    when 4
                                                        .table-cell.title Discount Coupon #{coupon.code}&nbsp;
                                                            a.cancel-link(href=CallFlowUrls.removeCoupon() + '?code=#{coupon.code}') Remove
                                                .table-cell.amount= formatMoney(line.amount, line.amount_unit)
                                    .table-row
                                        .table-cell.title
                                            .input-group
                                                input.form-control(type='text', name='code', placeholder='Discount Coupon #')
                                        .table-cell.amount
                                            a.btn.btn-default#applyCoupon Apply Coupon
                                    .table-row.total
                                        .table-cell.title Total
                                        .table-cell.amount= formatMoney(total, currency)
                            call-actions
                                input.btn.btn-lg.btn-primary.first#checkout(type='submit', value='Proceed to Payment')
            // /.content
.modal.fade#login-modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title
                    i.icon-scheduler
                    span.login Login
                    span.register Register
            .modal-body
                .form.col-md-12.center-block
                    form.login(autocomplete="off")
                        .alert.alert-danger(style="display: none; padding: 3px;")
                        .form-group
                            label Email
                            input.form-control.input(type='text', placeholder='Email', name='email', autocomplete="off")
                        .form-group
                            label Password
                            input.form-control.input(type='password', placeholder='Password', name='password', autocomplete="off")
                        .form-group
                            input.btn.btn-primary.btn.btn-block(type='submit', value='LOGIN')
                    form.register(autocomplete="off")
                        .form-group
                            label Email
                            input.form-control.input(type='text', placeholder='Email', name='email', autocomplete="off")
                        .form-group
                            label Title
                            select.form-control.input
                                - for title,id in Salutation
                                    option(value=id)= title
                        .form-group
                            label First Name
                            input.form-control.input(type='text', placeholder='First Name', name='first_name', autocomplete="off")
                        .form-group
                            label Last Name
                            input.form-control.input(type='text', placeholder='Last Name', name='last_name', autocomplete="off")
                        .form-group
                            label Password
                            input.form-control.input(type='password', placeholder='Password', name='password', autocomplete="off")
                        .form-group
                            label(for='timezone') Timezone
                            select.form-control(name='timezone')
                                each zone in Timezone
                                    option(value="#{zone.zone_id}") (#{formatTimezone(zone.gmt_offset)}) #{zone.zone_name}
                        .form-group
                            input.btn.btn-primary.btn.btn-block(type='submit', value='CREATE ACCOUNT')
                    .form-group
                        a.btn.btn-facebook.btn-block#facebookLink() Login with Facebook
                    .form-group
                        a.btn.btn-linkedin.btn-block#linkedInLoginButton Login with LinkedIn
                    span.pull-right
                        a#login-link.register(href='javascript:void(0)') Login
                        a#register-link.login(href='javascript:void(0)') Register
            .modal-footer
script.
    var Timezone = JSON.parse('!{JSON.stringify(Timezone)}');
script(src='/js/app/callFlow/payment.js')
include ../footer
include ../linkedInLogin
script.
    var Timezone = JSON.parse('!{JSON.stringify(Timezone)}');
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '!{googleAnalyticsTrackingId}', 'searchntalk.com');
    ga('send', 'pageview');