doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=false')

    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic', rel='stylesheet', type='text/css')
    link(href='/css/combined.min.css?v=version', rel='stylesheet')

    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='/js/combined.min.js?v=version')

    script.
        $(document).ready(function() {
            $(".user-control").hover(function() { $(".user-control .user-modal").show(); } , function() { $(".user-control .user-modal").hide(); });
            $('.datepicker').datetimepicker();
        });
div.masthead(role='banner')
    div.container
        div.masthead-brand
            a.logo.hidden-xs(href='/')
            a.icon.visible-xs(href='/')
        div.masthead-controls
            if loggedInUser
                .masthead-control-field.user-control
                    .info
                        .field-label
                            | Logged In
                        .field-info
                            | #{formatName(loggedInUser.first_name, loggedInUser.last_name)}
                    .avatar.avatar-small
                        .shadow
                        .placeholder
                        img(src=ApiUrlDelegate.userProfilePicture(loggedInUser.id))
                        .caret
                    .user-modal(style='display: none;')
                        .field-label
                            | Language
                        .field-menu
                            select(name='ui_language')
                                option(value='en', selected='')
                                    | English
                        ul
                            li
                                a.btn.btn-primary(href=AuthenticationUrls.logout() + '?returnTo=' + path) Logout
            else
                div.masthead-control-field
                    div.field-trigger
                        span.hidden-xs Don't have an account yet?
                        a.btn.btn-default(href=AuthenticationUrls.register()) Sign Up
                div.masthead-control-field
                    div.field-action
                        a.btn.btn-primary.login(href=AuthenticationUrls.login()) Login
                //div.masthead-control-field.lang-control
                    div.field-boxedinfo
                        div.lang en
                        div.shadow
                    div.caret
                    div.lang-modal(style='display: none;')
                        div.field-label
                            | Language
                        div.field-menu
                            select(name='ui_language')
                                option(value='en', selected='')
                                    | English
