- var user = expert.user;
- var minDuration = expert.schedule[0].min_duration
title ST-#{formatName(user.first_name, user.last_name, user.title)}
include ../header
.modal.fade#scheduler
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title
                    i.icon-scheduler
                    | Select 3 time slots
            .modal-body
                .call-options
                    .row
                        .col-xs-12.col-sm-4.col-md-3.col-lg-3
                            .annotation
                                | Duration
                                em (mins):
                        .col-xs-12.col-sm-8.col-md-9.col-lg-9
                            ul.floatleft.nav.nav-pills.duration
                                if minDuration < 15
                                    li.active
                                        a.well 15
                                if minDuration < 30
                                    li
                                        a.well 30
                                if minDuration < 45
                                    li
                                        a.well 45
                                if minDuration < 60
                                    li
                                        a.well 60
                            p.floatright
                                if expert.schedule[0].price_per_min
                                    strong= formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)
                                    | /min.
                                else
                                    strong Free
                .schedule-options
                    .row.scheduler-header
                        .col-xs-8
                            .row#monthSelector
                                .col-xs-2#prev «
                                .col-xs-8#month April 2014
                                .col-xs-2#next »
                        .col-xs-4
                            .row Time Slots
                    .row.scheduler-widgets
                        .col-xs-8
                            .row
                                .calendar-widget
                                    table
                                        thead
                                            tr
                                                th S
                                                th M
                                                th T
                                                th W
                                                th T
                                                th F
                                                th S
                                        tbody
                        .col-xs-4
                            .row
                                .timeslot-widget
                                    ul
                    .row.scheduled-slots
                        ul
                            li.timeslot.completed.row
                                span.col-xs-4.heading Preferred Time:
                                span.col-xs-4.slot 15 Apr 2014 at 11:30
                                span.col-xs-4.remove
                                    a.remove-timeslot Remove
                            li.timeslot.row
                                span.col-xs-4.heading Alternative Time #1:
                                span.col-xs-4.slot No time slot selected
                                span.col-xs-4.remove
                                    a.remove-timeslot Remove
                            li.timeslot.row
                                span.col-xs-4.heading Alternative Time #2:
                                span.col-xs-4.slot No time slot selected
                                span.col-xs-4.remove
                                    a.remove-timeslot Remove
            .modal-footer
                .alert.alert-warning
                    strong
                        | You have selected &nbsp;
                        span.num-slots
                        | &nbsp;time slot so far.&nbsp;
                    | Please select 3 time slots in order to schedule a call.
                .pull-right
                    a.btn.btn-primary#schedule-done Done
        // /.modal-content
    // /.modal-dialog
    // /.modal

// /.masthead
.matter
    .container
        .row
            .flowbar.col-xs-3.col-sm-3.col-md-12.col-lg-12
                .shadow
                ul.nav.nav-pills.nav-justified.nav-stacked
                    li.active
                        a(href='')
                            span.nav-label
                                i.icon-schedule
                                span.hidden-xs Schedule
                    li.disabled
                        a(href='')
                            span.nav-label
                                i.icon-pay
                                span.hidden-xs Pay
                    li.disabled
                        a(href='')
                            span.nav-label
                                i.icon-talk
                                span.hidden-xs Talk
            // flowbar
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .user-profile
                            .hidden-xs.avatar
                                .shadow
                                    a(href=DashboardUrls.userProfile(expert.id))
                                        img(src=ApiUrlDelegate.userProfilePicture(user.id), width='100%', height='100%')
                            .info
                                .info-upper
                                    a.user-displayname(href=DashboardUrls.userProfile(user.id))= formatName(user.first_name, user.last_name, user.title)
                                    if (user.date_of_birth)
                                        .user-age= moment().diff(moment(parseInt(user.date_of_birth)), 'years') + ' years'
                                .info-lower
                                    if (user.location)
                                        .user-locale New Delhi
                                    if (user.timezone)
                                        .user-timezone GMT +5:30h
                            .clearer
                            if userProfile.short_desc
                                .hidden-xs.profile
                                    p
                                        | #{userProfile.short_desc}
                            if userSkill
                                .hidden-xs.meta.meta-keywords
                                    h5 Skills/Keyword
                                    ul
                                        for skill in userSkill
                                            li= skill.skill_name
                            .meta.meta-price
                                h5 Charges
                                p
                                    if expert.schedule[0].price_per_min
                                        strong= formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)
                                        | /
                                        if expert.schedule[0].time_chunk_size > 1
                                            span= expert.schedule[0].time_chunk_size
                                                | &nbsp;mins.
                                        else
                                            | min.
                                    else
                                        strong Free
                    .col-md-6
                        .call-card
                            .user-schedule-summary
                                if (is_available)
                                    .current-status.status-ok Currently available
                                    .available-slot
                                        span.annotation Accepting calls till&nbsp;
                                        | #{formatDate(next_available_schedule.start_time + next_available_schedule.duration, "HH:mm a ZZ")}
                                else
                                    .current-status.status-warning Not available at the moment
                                    .available-slot
                                        span.annotation Next available time:
                                        | #{formatDate(next_available_schedule.start_time, "DD MMM YYYY [at] HH:MM a ZZ")}
                            .call-options
                                .row
                                    .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                        span.annotation
                                            | Duration
                                            em (mins):
                                    .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                        ul.nav.nav-pills.duration
                                            if minDuration < 15
                                                li.active
                                                    a.well 15
                                            if minDuration < 30
                                                li
                                                    a.well 30
                                            if minDuration < 45
                                                li
                                                    a.well 45
                                            if minDuration < 60
                                                li
                                                    a.well 60
                            .call-inputs
                                .row.input-row
                                    h1
                                        i.icon-clock
                                        | Timeslots
                                    ul.tagit.ui-widget.ui-widget-content.ui-corner-all#selectedSlots(data-toggle='modal', data-target='#scheduler')
                                        li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all
                                            .tagit-label
                                        li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all
                                            .tagit-label
                                        li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all
                                            .tagit-label
                                        li.tagit-new
                                            input(type='text', placeholder='Choose three timeslots', readonly="readonly")
                                .row.input-row
                                    h1
                                        i.icon-phone
                                        | Recepient Phone
                                    .form-group
                                        .row
                                            .col-xs-4
                                                select.form-control#country-code
                                                    for code,country in CountryCode
                                                        option(value=country, selected=country==country_code)= CountryName[code.toUpperCase()] + ' (+' + country + ')'
                                            .col-xs-8
                                                input.form-control.phone-number#caller-phone(type='text', placeholder='Phone Number', value=caller_phone)
                                .row.input-row
                                    h1
                                        i.icon-list
                                        | Call Agenda
                                    .form-group
                                        textarea.form-control#agenda(type='text', placeholder='Enter an agenda for your call (optional)')= agenda
                            .call-actions
                                a.btn.btn-lg.btn-primary.first#schedule Proceed
            // /.content
include ../footer
script.
    var schedules = JSON.parse( '!{JSON.stringify(expert.schedule)}' );
    var exceptions = JSON.parse( '!{JSON.stringify(exception)}' );
    var duration = parseInt('#{duration}') || 15;
    var selectedTimeSlots = [];
    try {
        selectedTimeSlots = JSON.parse( '!{JSON.stringify(appointments)}' ) || [];
    }
    catch(e){}
script(src='/js/app/callFlow/index.js')
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '!{googleAnalyticsTrackingId}', 'searchntalk.com');
    ga('send', 'pageview');