- var user = expert.user[0];

include header
.modal.fade#scheduler
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title
                    i.icon-scheduler
                    | Select 3 time slots
            .modal-body
                .call-options
                    .row
                        .col-xs-12.col-sm-4.col-md-3.col-lg-3
                            span.annotation
                                | Duration
                                em (mins):
                        .col-xs-12.col-sm-8.col-md-9.col-lg-9
                            ul.floatleft.nav.nav-pills.duration
                                li(class=duration == 15 || !duration ? 'active' : '')
                                    a.well 15
                                li(class=duration == 30 ? 'active' : '')
                                    a.well 30
                                li(class=duration == 45 ? 'active' : '')
                                    a.well 45
                                li(class=duration == 60 ? 'active' : '')
                                    a.well 60
                            p.floatright
                                strong= formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)
                                | /min
                .schedule-options
                    .row.scheduler-header
                        .col-xs-8
                            .row#monthSelector
                                a.col-xs-2#prev «
                                .col-xs-8#month April 2014
                                a.col-xs-2#next »
                        .col-xs-4
                            .row Time Slots
                    .row.scheduler-widgets
                        .col-xs-8
                            .row
                                .calendar-widget
                                    table
                                        thead
                                            tr
                                                th S
                                                th M
                                                th T
                                                th W
                                                th T
                                                th F
                                                th S
                                        tbody
                        .col-xs-4
                            .row
                                .timeslot-widget
                                    ul
                    .row.scheduled-slots
                        ul
                            li.timeslot.completed.row
                                span.col-xs-4.heading Preferred Time:
                                span.col-xs-4.slot No time slot selected
                                span.col-xs-4.remove.hidden
                                    a.remove-timeslot Remove
                            li.timeslot.row
                                span.col-xs-4.heading Alternative Time #1:
                                span.col-xs-4.slot No time slot selected
                                span.col-xs-4.remove.hidden
                                    a.remove-timeslot Remove
                            li.timeslot.row
                                span.col-xs-4.heading Alternative Time #2:
                                span.col-xs-4.slot No time slot selected
                                span.col-xs-4.remove.hidden
                                    a.remove-timeslot Remove
            .modal-footer
                .alert.alert-warning
                    strong You have selected&nbsp;
                    strong.num-slots no
                    strong &nbsp;time slots so far.
                    | &nbsp;Please select 3 slots in order to schedule a call.
                .btn.btn-primary#schedule-done Done
        // /.modal-content
    // /.modal-dialog
// /.modal
// /.masthead
.matter
    .container
        .row
            .flowbar.col-xs-3.col-sm-3.col-md-12.col-lg-12
                ul.nav.nav-pills.nav-justified.nav-stacked
                    li.active
                        a(href='')
                            i.icon-schedule
                            span.hidden-xs Schedule
                    li.disabled
                        a(href='')
                            i.icon-pay
                            span.hidden-xs Pay
                    li.disabled
                        a(href='')
                            i.icon-talk
                            span.hidden-xs Talk
            // flowbar
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .row.user-profile
                            .status-icon.status-ok
                                i.icon-searchntalk
                            .info
                                .user-displayname= formatName(user.first_name, user.last_name, user.title)
                            .hidden-xs.avatar
                                img(src=ApiUrlDelegate.userProfilePicture(user.id), width='100%', height='100%')
                            .clearer
                            .hidden-xs.profile
                                p
                                    | A freelance policy analyst since 1994, I specialize in policy for sustainability, planning and the urban environment in India, funding programmes, comparative research and good practice.
                    .col-md-6
                        .row
                            .user-schedule-summary
                                - if (is_available)
                                    .current-status.status-ok Currently available
                                    .available-slot
                                        | Accepting calls till&nbsp;
                                        span= formatDate(next_available_schedule.start_time + next_available_schedule.duration, "HH:mm a")
                                - else
                                    .current-status.status-warning Not available at the moment
                                    .available-slot
                                        span.annotation Next available time:
                                        span= formatDate(next_available_schedule.start_time, "DD MMM YYYY [at] HH:MM a")
                        .row
                            .call-options
                                .row
                                    .col-xs-12.col-sm-4.col-md-3.col-lg-3
                                        span.annotation
                                            | Duration
                                            em (mins):
                                    .col-xs-12.col-sm-8.col-md-9.col-lg-9
                                        ul.floatleft.nav.nav-pills.duration
                                            li(class=duration == 15 || !duration ? 'active' : '')
                                                a.well 15
                                            li(class=duration == 30 ? 'active' : '')
                                                a.well 30
                                            li(class=duration == 45 ? 'active' : '')
                                                a.well 45
                                            li(class=duration == 60 ? 'active' : '')
                                                a.well 60
                                        p.floatright
                                            strong= formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)
                                            | /min
                        .row
                            .call-inputs
                                .row
                                    h1
                                        i.icon-phone
                                        | Call Agenda
                                .row
                                    .input-group
                                        input.form-control#agenda(type='text', placeholder='Enter an agenda for your call', value=agenda)
                        .row
                            .call-inputs
                                .row
                                    h1
                                        i.icon-phone
                                        | Caller Details
                                .row
                                    .input-group
                                        span.input-group-addon @
                                        input.form-control#caller-name(type='text', placeholder="Caller's name", value=caller_name)
                                .row.not-first
                                    .input-group
                                        input.form-control#caller-phone(type='text', placeholder='10-digit phone number', value=caller_phone)
                        .row
                            .call-actions
                                a.btn.btn-lg.btn-primary.first.col-xs-12.col-md-12.col-lg-12#call-now Call Now
                                a.btn.btn-lg.btn-default.col-xs-12.col-md-12.col-lg-12#schedule Schedule
include footer
script.
    var schedules = JSON.parse( '!{JSON.stringify(expert.schedule)}' );
    var duration = parseInt('#{duration}') || 15;
    var selectedTimeSlots = [];
    try {
        selectedTimeSlots = JSON.parse( '!{JSON.stringify(appointments)}' );
    }
    catch(e){}
script(src='/js/app/callFlow/index.js')
