- var user = expert.user[0];

include header
.matter
    .container
        .row
            .flowbar.col-xs-3.col-sm-3.col-md-12.col-lg-12
                ul.nav.nav-pills.nav-justified.nav-stacked
                    li.completed
                        a(href='')
                            i.icon-schedule
                            span.hidden-xs Schedule
                    li.active
                        a(href='')
                            i.icon-pay
                            span.hidden-xs Pay
                    li.disabled
                        a(href='')
                            i.icon-talk
                            span.hidden-xs Talk
            // flowbar
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row.uneditables
                    .col-md-6
                        .row.user-profile
                            .status-icon.status-ok
                                i.icon-searchntalk
                            .info
                                .user-displayname= formatName(user.first_name, user.last_name, user.title)
                                .status-message accepting calls till 11.00am
                            .clearer
                    .col-md-3
                        .row
                            .user-schedule-summary
                                .current-status.status-ok Currently available
                                .scheduled-slot
                                    span.annotation Call scheduled for #{duration} mins (now):
                                    | 13 Apr 2014 at
                                    span.live-clock 11:13
                    .col-md-3
                        .row.step-reversal
                            a.btn.btn-default(href='javascript: history.back();')
                                | Back to Schedule
                                i.icon-left-arrow
                .row.editables
                    .col-lg-12
                        .row
                            h1
                                i.icon-bill
                                | Payment Summary
                        .row
                            .hidden-xs.hidden-sm.col-md-6
                            .col-md-6
                                .row
                                    .payment-summary
                                        .table
                                            - var total = 0, currency
                                            each line in transactionLines
                                                - total += line.amount
                                                - currency = line.amount_unit
                                                .table-row
                                                    case line.transaction_type
                                                        when 1
                                                            .table-cell.title Call duration: #{duration} mins @ #{formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)} / min
                                                        when 2
                                                            .table-cell.title Network charges
                                                        when 3
                                                            .table-cell.title Tax @#{Config.get(Config.CALL_TAX_PERCENT)}%
                                                    .table-cell.amount= formatMoney(line.amount, line.amount_unit)
                                            .table-row
                                                .table-cell.title
                                                    .input-group
                                                        input.form-control(type='text', placeholder='Discount Coupon #')
                                                .table-cell.amount
                                                    a.btn.btn-default(href='error.html') Apply Coupon
                                            .table-row.total
                                                .table-cell.title Total
                                                .table-cell.amount= formatMoney(total, currency)
                .row
                    .hidden-xs.hidden-sm.col-md-6
                    .col-md-6
                        .row
                            .call-actions
                                form(action=CallFlowUrls.checkout(), method='POST')
                                    input#login(type='hidden')
                                    input.btn.btn-lg.btn-primary.first(type='submit') Proceed to Payment
                // /.content
.modal.fade#login-modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title
                    i.icon-scheduler
                    | Login to Search-n-Talk
            .modal-body
                form.form.col-md-12.center-block
                    .form-group
                        input.form-control.input-lg(type='text', placeholder='Email')
                    .form-group
                        input.form-control.input-lg(type='password', placeholder='Password')
                    .form-group
                        a.btn.btn-primary.btn-lg.btn-block(href='payment.html') Login
                    span.pull-right
                        a(href='#') Register
                    span
                        a(href='#') Continue without logging in?
            .modal-footer

script(src='/js/app/callFlow/payment.js')
include footer