- var user = expert.user[0];

style.
    #login-modal .register {
        display: none;
    }
include ../header
title ST-#{formatName(expert.user[0].first_name, expert.user[0].last_name, expert.user[0].title)} | Payment for Call
.matter
    .container
        .row
            .flowbar.col-xs-3.col-sm-3.col-md-12.col-lg-12
                .shadow
                ul.nav.nav-pills.nav-justified.nav-stacked
                    li.completed
                        a(href='')
                            span.nav-label
                                i.icon-schedule
                                span.hidden-xs Schedule
                    li.active
                        a(href='')
                            span.nav-label
                                i.icon-pay
                                span.hidden-xs Pay
                    li.disabled
                        a(href='')
                            span.nav-label
                                i.icon-talk
                                span.hidden-xs Talk
            // flowbar
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .call-profile
                            .hidden-xs.avatar
                                .shadow
                                    a(href=DashboardUrls.memberProfile(expert.id))
                                        img(src=ApiUrlDelegate.userProfilePicture(user.id), width='100%', height='100%')
                            .info
                                .user-displayname= formatName(user.first_name, user.last_name, user.title)
                                if (user.date_of_birth)
                                    .user-age= moment().diff(moment(parseInt(user.date_of_birth)), 'years') + ' years'
                            .clearer
                            .meta.meta-price
                                h5 Charges
                                p
                                    if expert.schedule[0].price_per_min
                                        strong= formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)
                                        | /min.
                                    else
                                        strong Free
                            .meta.meta-schedule
                                h5 Selected time slots
                                ul
                                    li.schedule-a= formatDate(appointments[0], 'ddd DD MMM YYYY, hh:mm a')
                                    li.schedule-b= formatDate(appointments[1], 'ddd DD MMM YYYY, hh:mm a')
                                    li.schedule-c= formatDate(appointments[2], 'ddd DD MMM YYYY, hh:mm a')
                            .meta
                                h5 Call Recepient
                                p +#{country_code}-#{caller_phone}
                            .meta
                                h5 Call Agenda
                                p= phoneCall.agenda
                    .col-md-6
                        .call-card
                            .call-reversal
                                a.btn.btn-default(href=CallFlowUrls.callExpert(expert.id))
                                    | Back to Schedule
                                    i.icon-left-arrow
                            .payment-summary.call-inputs
                                h1
                                    i.icon-bill
                                    | Payment Summary
                                if messages && messages.error
                                    .alert.alert-danger
                                        strong Sorry!&nbsp;
                                        | #{messages.error}
                                .table
                                    - var total = 0, currency
                                        each line in transactionLines
                                            - total += line.amount
                                            - currency = line.amount_unit
                                            .table-row
                                                case line.transaction_type
                                                    when 1
                                                        .table-cell.title Call duration: #{duration} mins @ #{formatMoney(expert.schedule[0].price_per_min, expert.schedule[0].price_unit)} / min
                                                    when 2
                                                        .table-cell.title Network charges
                                                    when 3
                                                        .table-cell.title Tax @#{Config.get(Config.CALL_TAX_PERCENT)}%
                                                    when 4
                                                        .table-cell.title Discount
                                                            a.glyphicon.glyphicon-remove#removeCoupon(href=CallFlowUrls.removeCoupon())
                                                .table-cell.amount= formatMoney(line.amount, line.amount_unit)
                                    form.table-row#couponForm(action='/expert/call/payment/coupon', method='post')
                                        .table-cell.title
                                            .input-group
                                                input.form-control(type='text', name='code', placeholder='Discount Coupon #')
                                        .table-cell.amount
                                            input.btn.btn-default(type='submit', value='Apply Coupon')
                                    .table-row.total
                                        .table-cell.title Total
                                        .table-cell.amount= formatMoney(total, currency)
                            form.call-actions#checkout(action=CallFlowUrls.checkout(), method='POST')
                                input#login(type='hidden')
                                input.btn.btn-lg.btn-primary.first(type='submit', value='Proceed to Payment')
            // /.content
.modal.fade#login-modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title
                    i.icon-scheduler
                    | Login to Search-n-Talk
            .modal-body
                form#authentication.form.col-md-12.center-block
                    .form-group
                        input.form-control.input-lg(type='text', placeholder='Email', name='username')
                    .form-group
                        input.form-control.input-lg(type='password', placeholder='Password', name='password')
                    .form-group
                        a.btn.btn-facebook.btn-block(href=CallFlowUrls.facebookLogin()) Login with Facebook
                    .form-group
                        a.btn.btn-linkedin.btn-block(href=CallFlowUrls.linkedInLogin()) Login with LinkedIn
                    .form-group
                        input.btn.btn-primary.btn-lg.btn-block#login-button(type='submit', value='login')
                    span.pull-right
                        a(href='#') Register
                    span
                        a(href='#') Continue without logging in?
            .modal-footer
        // /.modal-content
script(src='/js/app/callFlow/payment.js')
include ../footer
