extends header

block append content
    form(method='post')
        .form-group
            label.control-label(for='duration') Duration
            .form-control-static#duration #{duration}
        .form-group
            label.control-label(for='appointments') Selected Time Slots
            - for slot in appointments
                .form-control-static#appointments #{formatDate(slot, 'ddd DD MMM YYYY, hh:mm a Z')}
        .form-group
            label.control-label(for='phone') Your Mobile Number
            .controls
                select#phoneNumberSelector(style=userPhones ? '' : 'display: none;')
                    - if (userPhones)
                        - for phone in userPhones
                            option(value=phone.id)= phone.phone
                    option(value=-1) Enter new number
                .input-group#phoneNumberInput(style=userPhones ? 'display: none;' : '')
                    .input-group-btn
                        select.form-control.col-md-2#countryCode
                            option(value='91') India (+91)
                            option(value='1') USA (+1)
                            option(value='65') Singapore (+65)
                    input(type='tel').form-control#phoneNumber
                    .input-group-btn
                        a.btn.btn-success#sendPhoneVerificationCode Verify

        .form-group
            label.control-label(for='agenda') Agenda
            .form-control-static
        hr
        h4 Summary
        ul.list-group
        - for line in transaction.transaction_line
            .list-group-item
                | #{ItemType[line.item_type]}
                .pull-right
                    | #{formatMoney(line.amount, line.amount_unit)}
        .list-group-item#total
            strong Total
            .pull-right
                strong Amount
        .clearfix
        .form-group
            label.control-label(for='coupon') Coupon
            .controls
                .input-group
                    input.form-control
                    .input-group-btn
                        button.btn.btn-success Apply
        hr
        .form-group
            input.btn.btn-primary.btn-lg(type='submit', value='Make Payment')

    #enterVerificationCodeModal.modal.fade(style='display: none;')
        .modal-dialog
            .modal-content
                .modal-header
                    .close(data-dismiss='modal', aria-hidden='true') x
                    h4.modal-title Verify Phone
                .modal-body
                    | Please enter the verification code received on your mobile
                    .form-group
                            input(type='text').form-control#verificationCode
                     .form-group
                            a.btn.btn-primary.form-control#verifyCode Verify

    script(src='/js/app/callFlow/payment.js')