include ../header
title Scheduling
.matter
    .container
        .row
            .content
                .col-md-6
                    .row
                        .call-profile
                            h1
                                | Call request from&nbsp;
                                span= formatName(call.user.first_name, call.user.last_name, call.user.title)
                            .meta
                                h5 Call Id
                                p= call.id
                            .meta
                                h5 Call Agenda
                                p= call.agenda
                            .meta
                                h5 Duration
                                p= call.duration
                                    | &nbsp; mins.
            .content.col-md-6
                .row
                    .card
                        form#scheduling(action=ApiUrlDelegate.phoneCallScheduling(call.id))
                            .payment-summary.call-inputs
                                h1
                                    i.icon-scheduler
                                    | Requested Time Slots
                                .form-group
                                    for slot in startTimes
                                        div
                                            label
                                                input(type='radio', name='start_time', value=slot, id='slot-' + slot)
                                                span= formatDate(slot + expertGmtOffset,'DD/MM/YYYY hh:mm a') + ' (' +  formatTimezone(expertGmtOffset/1000) + ')'
                                    input.form-control.datepicker(name='start_time_input', type='text', placeholder='Suggest alternate time slot', readonly=true, style='background-color: white; cursor: default;')
                            .payment-summary.call-inputs
                                h1
                                    i.icon-phone
                                    | Your Phone
                                .form-group
                                    .row
                                        .col-xs-4
                                            select.form-control(name="country_code")
                                                for name,abb in CountryName
                                                    -var code = CountryCode[abb];
                                                    option(value=code, selected=code ==phone.country_code)= name + ' (+' + code + ')'
                                        .col-xs-8
                                            input#caller-phone.form-control(type='text', placeholder='Phone Number', name='phone', value = phone.phone)
                            input(type='hidden', name='phoneNumberId', value=phone ? phone.id : null)
                            input(type='hidden', name='code', value=code)
                            input.btn.btn-primary.btn-block(type='submit', value='Confirm')
                            a.btn.btn-danger.btn-block#reject-call
                                | Cancel
                                i.icon-cancel
include ../footer
script.
    var callId = '!{call.id}';
    var code = '!{code}';
    var expertGmtOffset = #{expertGmtOffset};
script(src='/js/app/callFlow/scheduling.js')