title Scheduling
doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=false')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic', rel='stylesheet', type='text/css')
    link(href='/bower_dependencies/bootstrap/dist/css/bootstrap.min.css')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/bower_dependencies/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
    //link(href='/css/style.css', rel='stylesheet')
    script(src='/bower_dependencies/jquery/jquery.js')
    script(src='/bower_dependencies/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_dependencies/moment/moment.js')
    script(src='/bower_dependencies/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='/bower_dependencies/bootbox/bootbox.js')
    script(src='/js/lib/jquery.validate.js')
.masthead(role='banner')
    .container
        .masthead-brand
            a.logo.hidden-xs(href='#')
            a.icon.visible-xs(href='#')
        .masthead-controls
            .masthead-control-field
                .field-label
                    | Language
                .field-menu
                    select(name='ui_language')
                        option(value='en', selected='')
                            | English
// /.masthead
.matter
    .container
        .row
            .content
                .col-md-6
                    .row
                        .call-profile
                            h1
                                | Call request from&nbsp;
                                span= formatName(call.user.first_name, call.user.last_name, call.user.title)
                            .meta
                                h5 Call Id
                                p= call.id
                            .meta
                                h5 Call Agenda
                                p= call.agenda
                            .meta
                                h5 Duration
                                p= call.duration
                                    | &nbsp; mins.
            .content.col-md-6
                .row
                    .card
                        form#scheduling(action=ApiUrlDelegate.phoneCallScheduling(call.id))
                            .payment-summary.call-inputs
                                h1
                                    i.icon-scheduler
                                    | Requested Time Slots
                                ul
                                    for slot in startTimes
                                        li
                                            .checkbox(name='checkbox', data-id=slot)
                                            span= formatDate(slot)
                                .form-group
                                    input.form-control.datepicker#newSlot(name='newSlot', type='text', placeholder='Suggest alternate time slot', readonly=true, style='background-color: white; cursor: default;')
                            .payment-summary.call-inputs
                                h1
                                    i.icon-phone
                                    | Your Phone
                                .form-group
                                    .row
                                        .col-xs-4
                                            select#country-code.form-control
                                                for name,abb in CountryName
                                                    -var code = CountryCode[abb];
                                                    option(value=code, selected=code ==phone.country_code)= name + ' (+' + code + ')'
                                        .col-xs-8
                                            input#caller-phone.form-control.phone-number(type='text', placeholder='Phone Number', value = phone.phone)
                            if earning > 0
                                .payment-summary.call-inputs
                                    h1
                                        i.icon-bill
                                        | You Earn
                                    .form-group
                                        .form-control-static= formatMoney(earning, earningUnit)
                            input(type='hidden', name='phoneNumberId', value=phone ? phone.id : null)
                            input(type='hidden', name='code', value=code)
                            input.btn.btn-primary.btn-block(type='submit', value='Confirm')
                            a.btn.btn-danger.btn-block#reject-call
                                | Cancel
                                i.icon-cancel
include ../footer
script.
    var callId = '!{call.id}';
    var code = '!{code}';
script(src='/js/app/callFlow/scheduling.js')