include header
include scriptsAndStyles

.container-fluid
    .row-fluid
        .col-md-2
        .col-md-8
            form
                .form-group
                    label(for='first_name') First Name
                    .form-control-static#first_name #{user.first_name}
                .form-group
                    label(for='last_name') Last Name
                    .form-control-static#last_name #{user.last_name}
                .form-group
                    label(for='summary') Summary
                    input(type='text', value=user.short_desc).form-control#summary
                .form-group
                    label(for='description') Description
                    textarea(value=user.long_desc).form-control#description #{user.long_desc}
                .form-group
                    input(type='submit', value='Save').btn.btn-primary
        .col-md-2
script(src='/js/app/expertRegistration/updateProfile.js')