.card.main-card
    .item
        .header-row.row
            h5.col-xs-10 Network Settings
            .col-xs-1
                a.btn.btn-link.editCardBtn(data-id=integration.id)
                    i.icon-pencil
    .item
        .row
            h5.col-xs-6 Network Name
            .col-xs-6
                div #{integration.title}
        .row
            .row
                h5.col-xs-6 Network Logo
                .col-xs-6
                    .row
                        img(src=ApiUrlDelegate.integrationLogo(members[0].integration_id), width='120', height = '120')
            .row
                .col-xs-5
                .col-xs-7(align='center')
                    a.btn.btn-success.btn-xs#selectFileBtn Upload
                    form#fileUploadForm(action=ApiUrlDelegate.integrationLogo(members[0].integration_id), method="post", enctype="multipart/form-data")
                        input#selectFile(type='file', name='profile', style='display: none')
                        input#selectFileSubmit(type='submit', style='display: none')
        .row
            h5.col-xs-6 Website Url
            .col-xs-6
                a(href=integration.website_url) #{integration.website_url}
        .row
            h5.col-xs-6 Redirect Url
            .col-xs-6
                div #{integration.redirect_url}
.card.edit-card
    form#editNetworkSetting
        input.form-control(type="hidden", name="id")
        .item-edit
            .item
                .row
                    h5.col-xs-8 Network Settings
                    .header-link.col-xs-4
                        a.btn.btn-danger.cancelEditCardBtn
                            i.icon-cancel
            .item
                .row
                    .form-group
                        h3 Network Name:
                        input.form-control(type='text', name='title')
                    .form-group
                        h3 Website Url:
                        input.form-control(type='text', name='website_url')
                    .form-group
                        h3 Redirect Url:
                        input.form-control(type='text', name='redirect_url')
                    .clearer
                    div.links-editing
                        p.edit-schedules
                            input.btn.btn-primary(type='submit', value='Save')