.card.main-card
    .item
        .row
            .header-row.row
                h5.col-xs-10 Settings
                .col-xs-2.header-link
                    a.btn.btn-primary.editCardBtn(data-id=integration.id)
                        i.icon-pencil
        .item-edit
            .item
                .row
                    h3 Network Name
                    .form-group
                        .form-control-static
                            strong= integration.title
                    h3 Network Logo
                    .form-group.integration-setting
                        .avatar
                            .shadow
                            .initials-profile-image-large NA
                            img(src=ApiUrlDelegate.integrationLogo(selectedMember.integration_id), width='120', height = '120')
                            .image-edit
                                a.btn.btn-success.btn-xs(href="javascript: void(0);")#selectFileBtn
                                    i.icon-pencil
                                form#fileUploadForm(action=ApiUrlDelegate.integrationLogo(selectedMember.integration_id), method="post", enctype="multipart/form-data")
                                    input#selectFile(type='file', name='profile', style='display: none')
                                    input#selectFileSubmit(type='submit', style='display: none')
                    .clearer
                    h3 Website Url
                    .form-group
                        .form-control-static
                            strong= integration.website_url
                    h3 Redirect Url
                    .form-group
                        .form-control-static
                            strong= integration.redirect_url
.card.edit-card
    form#editNetworkSetting
        input.form-control(type="hidden", name="id")
        .item-edit
            .item
                .row
                    h5.col-xs-8 Network Settings
                    .header-link.col-xs-4
                        a.btn.btn-danger.cancelEditCardBtn
                            i.icon-cancel
            .item
                .row
                    h3 Network Name:
                    .form-group
                        input.form-control(type='text', name='title')
                    h3 Website Url:
                    .form-group
                        input.form-control(type='text', name='website_url')
                    h3 Redirect Url:
                    .form-group
                        input.form-control(type='text', name='redirect_url')
                    .clearer
                    div.links-editing
                        p.edit-schedules
                            input.btn.btn-primary(type='submit', value='Save')