.card.main-card
    if isEditable
        .addit
            a.btn.btn-primary.createCardBtn Add Work Experience
                i.icon-plus
    else
        .item
            .header-row.row
                h5.col-xs-12 Employment Details
        div.clearer
    if userEmployment.length != 0
        each emp in userEmployment
            .item
                .row
                    h5.col-xs-8 #{emp.title}
                    .header-link.col-xs-4
                        if isEditable
                            a.btn.btn-primary.editCardBtn(data-id=emp.id)
                                i.icon-pencil
                            | &nbsp;
                            a.btn.btn-danger(data-id=emp.id, name = 'deleteUserEmployment')
                                si.icon-trash
                    div
                    if emp.company
                        | #{emp.company}
                        br
                    if emp.start_date && emp.start_date != -1
                        | #{formatDate(emp.start_date, 'MM-YYYY')}
                    if emp.end_date && emp.end_date != -1
                        | - #{formatDate(emp.end_date, 'MM-YYYY')}
                        br
                    if emp.summary
                        | #{emp.summary}
    else
        .alert.alert-warning
            p No workplaces added yet
if isEditable
    .card.edit-card
        form
            input.form-control(type="hidden", name="id")
            .item-edit
                .item
                    .row
                        h5.col-xs-8 Add Position Details
                        .header-link.col-xs-4
                            a.btn.btn-danger.cancelEditCardBtn
                                i.icon-cancel
                .item
                    .row
                        .form-group
                            h3 Title
                            input.form-control(type='text', name='title')
                        .form-group
                            h3 Company
                            input.form-control(type='text', name='company')
                        .form-group
                            h3 Time Period
                            .row
                                .col-md-4
                                    input.form-control.datepicker(type='text', name ="start_date", data-date-format="MM/YYYY")
                                .col-md-1
                                    | to
                                .col-md-4
                                    input.form-control.datepicker(type='text', name="end_date", data-date-format="MM/YYYY")
                        .form-group
                            h3 Summary
                            input.form-control(type='text', name='summary')
                        .form-group
                            h3 Is Current? &nbsp&nbsp
                            select#(name='is_current', data-width='auto', name='is_current')
                                option(value="1" selected = (currentYear == '#{i}')) Yes
                                option(value="0" selected = (currentYear == '#{i}')) No
                                .clearer
                        div.links-editing
                            p.edit-schedules
                                input.btn.btn-primary(type='submit', value='Save')