title ST | #{integration.title} | #{formatRole(member.role)} registration
include ../header
.matter
    .container
        .row
            .content.col-xs-9.col-sm-9.col-md-6.col-lg-6
                .user-profile
                    h2 Title
            .content.col-xs-9.col-sm-9.col-md-6.col-lg-6
                .card
                    .item
                        p By registering as an #{formatRole(member.role)} for #{integration.title}, you also agree to <a href='/terms-of-use'>SearchNTalk.com Terms and Conditions</a>
                        if formatRole(member.role) == 'Expert'
                            p You will receive requests for scheduling phone calls from people who are seeking your expert advice.
                    .item
                        form(action=MemberRegistrationUrls.authorizationDecision(), method="post")
                            input(name="transaction_id", type="hidden", value="#{transactionID}")
                            .links-editing
                                input.btn-primary.btn.btn-block(type="submit" value="Yes, Continue" id="allow")
                            .links-editing
                                input.btn.btn-danger.btn-block(type="submit", value="Deny", name="cancel", id="deny")
include ../footer