extends header

block content
    title Search N Talk - Expert Registration - Login
    include ../errorMessage
    .row-fluid
        p.h4
            | Welcome to expert network of&nbsp;
            strong #{integration.title}
        em.small Note: We've pre-filled some of the fields based on the invitation for your convenience
    .row-fluid
        div
            form#registration-form(method='POST')
                .form-group
                    label(for='email') Email
                    input.form-control#email(name='email', type='email', data-toggle="tooltip", data-placement="bottom", value=member.user.email, autocomplete='off')
                .form-group
                    label(for='first_name') First Name
                    input.form-control#first_name(name='first_name', type='text', data-toggle="tooltip", data-placement="bottom", value=member.user.first_name, autocomplete='off')
                .form-group
                    label(for='last_name') Last Name
                    input.form-control#last_name(name='last_name', type='text', data-toggle="tooltip", data-placement="bottom", value=member.user.last_name, autocomplete='off')
                .form-group
                    label(for='password') Password
                    input.form-control#password(type='password', name='password', data-toggle="tooltip", data-placement="bottom", autocomplete='off')
                .form-group
                    label(for='confirm_password') Confirm Password
                    input.form-control#confirm_password(type='password', name='confirm_password', data-toggle="tooltip", data-placement="bottom", autocomplete='off')
                .form-group
                    input(type='hidden', name='invitation_code', value=code)
                    input.btn-primary.btn(value='Register', type='submit')
                    a.btn-primary.btn(href=MemberRegistrationUrls.linkedInLogin()) Login with LinkedIn
                    a.btn.btn-link(href=MemberRegistrationUrls.login()) Login
    script(src='/js/app/expertRegistration/authenticate.js')