title Scheduling
- var expertUser = call.integration_member.user

include ../header
// /.masthead
.matter
    .container
        .row
            .content.col-xs-9.col-sm-9.col-md-12.col-lg-12
                .row
                    .col-md-6
                        .call-profile
                            h1
                                | Details for call with&nbsp;
                                span= formatName(expertUser.first_name, expertUser.last_name, expertUser.title)
                            .meta
                                h5 Call Id
                                p= call.id
                            .meta
                                h5 Call Agenda
                                p= call.agenda
                            .meta
                                h5 Duration
                                p= call.duration
                                    | &nbsp; mins.
                    .col-md-6
                        .call-card
                            form#scheduling(action=ApiUrlDelegate.phoneCallScheduling(call.id))
                                .payment-summary.call-inputs
                                    h1
                                        i.icon-bill
                                        | Suggested Time
                                    h3 Pick one of the suggested slots
                                    for slot in startTimes
                                        p.title
                                            input(type='radio', name='startTime', value=slot, checked=selectedStartTime == slot)
                                            label= formatDate(slot)
                                    h3 Or Suggest another time convenient to you
                                    input#startTime(type='text', name='startTimeInput')
                                .payment-summary.call-inputs
                                    h1
                                        i.icon-phone
                                        | Your phone number
                                        .row
                                            if !phone
                                                .input-group
                                                    .input-group-btn
                                                        select.form-control#country-code
                                                            for code,country in CountryCode
                                                                option(value=country, selected=country == phone.country_code)= CountryName[code.toUpperCase()] + ' (+' + country + ')'
                                                    input.form-control#phone(type='text', value=phone ? phone.phone : null)
                                                    .input-group-btn
                                                        a.btn.btn-success#verify-btn Verify
                                            else
                                                p= '+' + phone.country_code + '-' + phone.phone

                                input(type='hidden', name='phoneId', value=phone ? phone.id : null)
                                input(type='hidden', name='code', value=code)
                                input.btn.btn-primary.btn-block(type='submit', value='Confirm')
                                .call-reversal
                                    a.btn.btn-danger#reject-call
                                        | Cancel
                                        i.icon-cancel

include ../footer
script.
    var callId = '!{call.id}';
script(src='/js/app/callScheduling/scheduling.js')